.quiz_container {
  background-color: gainsboro;
  height: 100vh;
  padding-bottom: 60px;
}
.question_display {
  background-color: white;
  padding: 30px;
  width: 75%;
  display: flex;
  justify-self: center;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
}
.space {
  height: 90px;
}
@media (max-width: 600px) {
  .options_list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 30px 16px 0px 30px;
    gap: 6px;
  }
  .option {
    display: flex;
    gap: 8px;
    justify-content: left;
  }
  .correct_answer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-size: x-large;
    color: purple;
    padding-top: 30px;
  }
}
@media (min-width: 700px) {
  .options_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 140px 0px 140px;
    gap: 6px;
  }
  .correct_answer {
    display: flex;
    padding: 30px 140px;
    font-size: x-large;
    color: purple;
  }
}
.option {
  display: flex;
  align-items: center;
  gap: 8px;
}
label {
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
}
input {
  width: 16px;
  height: 16px;
}
.game_over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: gainsboro;
}
.final_msg {
  font-size: xx-large;
  color: purple;
}
.final_btns {
  padding-top: 10px;
  display: flex;
  gap: 8px;
}
.yn_btns {
  padding: 4px;
  outline: none;
  font-size: large;
  border: none;
  width: 80px;
}
.yn_btns:hover {
  cursor: pointer;
  background-color: gainsboro;
  color: purple;
  border: 1px solid purple;
  border-radius: 10px;
}
.continue {
  padding-top: 20px;
  font-size: larger;
}
